.box {
	width: 100px;
	height: 100px;
}

.green {
	float: left;
	background-color: lightgreen;
}

.red {
	float: right;
	background-color: firebrick;
}

.boxblue {
	position: relative;
	background-color: lightblue;
	width: 500px;
	height: 500px;
	margin-left: 100px;

}
/*part 2 */

.boxgreen {
	display: inline-block;
	background-color: springgreen;
	width: 200px;
	height:300px;
	margin: 5%;
	/*float: left;*/
}


/*   part 3   */


.redbox{
	width: 100px;
	height: 100px;
	background-color: firebrick;
	float:left;
	margin: 5px;
}

.bluebox{
	width: 100px;
	height: 100px;
	background-color: skyblue;
	float:right;
	margin: 5px;
}

.greenbox{
	width: 100%;
	height: 100px;
	background-color: lightgreen;
	float:bottom;
	margin: 10px;
}
